.state {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.issue-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 80%;
  position: relative;
  min-height: 125px;
  margin-top: 2.5ch;
}

.issue-title {
  display: inline-block;
  font-size: 20px;
  margin-left: 5px;
}

.issue-secondary-info {
  padding-left: 5em;
}

.issue-card-info {
  display: inline-block;

}

.comment-number {
  display: inline-block;
  width: 30ch;
  padding-right: 2ch;
}
